<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${formMode == 'edit'} ? 'Edit Fruit' : 'Add New Fruit'">Fruit Form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="red-bg">
<div class="container">
  <div class="form-content-wrapper">
    <div class="form-container">
      <h1 class="yellow-label" th:text="${formMode == 'edit'} ? 'Edit Fruit' : 'Add New Fruit'">Edit Fruit | Add New Fruit</h1>

      <form th:action="@{'/fruits/save'}" method="POST" th:object="${selectedOne}">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
          <label for="name" class="yellow-label">Fruit Name:</label>
          <input type="text" id="name" th:field="*{name}"
                  required
                 class="long-input" />
          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field-error-message">Name is required!</span>
        </div>

        <div class="form-group">
          <label for="description" class="yellow-label">Author:</label>
          <input type="text" id="description" th:field="*{description}"
                  required
                 class="medium-input" />
          <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="field-error-message"></span>
        </div>



        <div class="form-group">
          <label for="price" class="yellow-label">Price:</label>
          <input type="number" id="price"
                 th:field="*{price}" required step="any"
                 class="short-input" />
          <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="field-error-message">Price must be between 1...1000 </span>
        </div>
        <div class="form-group">
          <label for="expiredDate" class="yellow-label">ExpiredDate:</label>
          <input type="date" id="expiredDate"
                 th:field="*{expiredDate}" required
                 class="short-input" />
          <span th:if="${#fields.hasErrors('expiredDate')}" th:errors="*{expiredDate}" class="field-error-message"></span>
        </div>

        <div class="form-group">
          <label for="category" class="yellow-label">Category:</label>
          <select id="category" th:field="*{category.id}" required
                  class="medium-input">
            <option th:each="c : ${cates}"
                    th:value="${c.id}"
                    th:text="${c.name}"
                    th:selected="${selectedOne.category != null and selectedOne.category.id == c.id}">
            </option>
          </select>
          <span th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}" class="field-error-message"></span>
        </div>

        <div class="form-group-button">
          <button type="submit" class="transparent-button">Save</button>
          <a th:href="@{/fruits}" class="transparent-button">Cancel</a>
        </div>

        <div>
          <input type="hidden" name="formMode" th:value="${formMode}">
        </div>


      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <p>© 2025 them.levan. All rights reserved.</p>
</footer>
</body>
</html>